## Aggregating, Merging and Grouping Datasets

Aggregation of Data

In [1]:
import pandas as pd

In [2]:
src_file = '../data/raw/sample_sales_details.xlsx'
df = pd.read_excel(src_file)
df.head(10)

,invoice,company,purchase_date,sku,product,quantity,price,extended amount,shipping_cost
0,ZN-870-29,Realcube,2019-03-05,L-Y-71,shirt,19,17,323,6.46
1,JQ-501-63,Zooxo,2019-07-09,E-532,book,30,14,420,8.40
2,FI-165-58,Dabtype,2019-08-12,S-909,poster,7,23,161,3.22
3,XP-005-55,Skipfire,2019-11-18,B-B-5,pen,7,29,203,4.06
4,NB-917-18,Bluezoom,2019-04-18,L-477,poster,36,19,684,13.68
5,MI-696-11,Zooveo,2019-10-17,B-BK-5,pen,-1,30,-30,0.00
6,MQ-907-02,Babbleset,2019-10-27,L-579,poster,30,21,630,12.60
7,NX-102-26,Fliptune,2019-10-16,E-201,book,40,28,1120,22.40
8,LE-516-00,Buzzbean,2019-06-17,S-393,poster,-3,16,-48,0.00
9,VD-518-20,Dabshots,2019-03-12,XL-B-12,shirt,19,28,532,10.64

In [5]:
# Example of simple aggregation
df['price'].agg(['mean', 'std', 'min', 'max'])

mean    22.816000
std      7.537039
min     10.000000
max     35.000000
Name: price, dtype: float64

In [ ]:
# Run on entire data frame
df.agg(['mean', 'max'])

In [8]:
# Multiple column aggregation
agg_cols = {
    'quantity': 'sum',
    'price': ['mean', 'std'],
    'invoice': 'count',
    'extended amount': 'sum',
            }

df.agg(agg_cols).fillna(0)

       quantity      price  invoice  extended amount
count       0.0   0.000000   1000.0              0.0
mean        0.0  22.816000      0.0              0.0
std         0.0   7.537039      0.0              0.0
sum     22421.0   0.000000      0.0         510270.0

In [12]:
# Doesn't make sense to sum the price, so pull out the quantity column
df.groupby(['product'])['quantity'].sum()

product
book      5340
pen       5005
poster    5827
shirt     6249
Name: quantity, dtype: int64

In [15]:
prod_cols = {
    'quantity': ['sum', 'mean', 'std', 'max']
}
df.groupby(['product']).agg(prod_cols)

        quantity
             sum       mean        std max
product
book        5340  22.820513  15.472315  50
pen         5005  22.146018  15.840059  50
poster      5827  21.661710  16.427386  50
shirt       6249  23.059041  17.085521  50

In [17]:
df.groupby(['company', 'product']).agg(prod_cols).fillna(0)

                quantity
                     sum       mean        std max
company product
Abatz   book          64  21.333333  25.501634  47
        pen            7   7.000000   0.000000   7
        poster        39  39.000000   0.000000  39
Agivu   book          11  11.000000   0.000000  11
        shirt         20  20.000000   0.000000  20
...                  ...        ...        ...  ..
Zooxo   book          30  30.000000   0.000000  30
        shirt         85  42.500000   2.121320  44
Zoozzy  pen           31  31.000000   0.000000  31
        poster        31  15.500000  21.920310  31
        shirt         23  23.000000   0.000000  23

[731 rows x 4 columns]

In [18]:
df.groupby(['company', 'product']).agg(prod_cols).fillna(0).reset_index()

    company product quantity
                         sum       mean        std max
0     Abatz    book       64  21.333333  25.501634  47
1     Abatz     pen        7   7.000000   0.000000   7
2     Abatz  poster       39  39.000000   0.000000  39
3     Agivu    book       11  11.000000   0.000000  11
4     Agivu   shirt       20  20.000000   0.000000  20
..      ...     ...      ...        ...        ...  ..
726   Zooxo    book       30  30.000000   0.000000  30
727   Zooxo   shirt       85  42.500000   2.121320  44
728  Zoozzy     pen       31  31.000000   0.000000  31
729  Zoozzy  poster       31  15.500000  21.920310  31
730  Zoozzy   shirt       23  23.000000   0.000000  23

[731 rows x 6 columns]

Named Aggregation examples

In [19]:
df.groupby(['company']).agg(invoice_total=('invoice', 'count'),
                            max_purchase=('extended amount', 'max'))

           invoice_total  max_purchase
company
Abatz                  5          1410
Agivu                  2           700
Aibox                  2           828
Ailane                 3           400
Aimbo                  3           570
...                  ...           ...
Zoonoodle              3           644
Zooveo                 4           609
Zoovu                  2           165
Zooxo                  3           968
Zoozzy                 4           620

[351 rows x 2 columns]